body{
	background: #DFEFFF;
}
.page{
	height: 100vh;
}
#one{
	background-image: url(http://dtbs/resourse/visible/fon.png); /* Путь к фоновому рисунку */
	background-position: center center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 250px;
}
#one h1 span{
	color: red;
}
#two{
	background: #303841;
	color: #D7DDE8;
}